body {
    background-image: url(/resource/background/background.png);
    background-size: calc(100%);
}

.blogArticleCard > div > h2 {
    font-size: 34px;
    font-family: 'Roboto Slab', serif;
}

@media (max-width: 400px) {
    .blogInfo {
        display: block;
    }
}
@media (min-width: 400px) {
    .blogInfo {
        margin-right: 1em;
    }
}

.blogArticleCard {
    opacity: 0.95;
    font-family: 'Roboto Slab', serif;
}
.blogArticleContent, .blogArticleContent > p, .blogArticleContent > * > p {
    font-size: 1em;
    line-height: 2em; /* 2 line space */
    text-align: justify;
    font-family: 'Roboto Slab', serif;
}
.blogArticleContent > blockquote > p {
    font-size: 14px;
}
.blogArticleContent > h5 {
    font-family: 'Roboto Slab', serif;
    margin: 1.5em 0;
    font-weight: bold;
}
.blogArticleContent > figure > img {
    width: 100%;
}
.blogArticleContent > figure > figcaption {
    text-align: center;
}

.blogCommentCard > .mdl-card__title > .mdl-card__title-text {
    font-size: 20px;
}